<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="dao.UserDao">
	<insert id="addUser" parameterType="entity.User">
		insert into userInfo(id,name,password,permission)values(#{id},#{name},#{password},#{permission})
	</insert>
	<select id="findUserByName" parameterType="Object" resultType="entity.User">
		select * from userInfo where name=#{name}
	</select>
	<select id="login" parameterType="Object" resultType="entity.User">
		select * from userInfo where name=#{name} and password=#{password}
	</select>
	<select id="recommend" parameterType="Object" resultType="Map">
		select * from list_rank where `kind` like '%${like}%' order by hot DESC limit 5
	</select>
	<insert id="createUser" parameterType="entity.User">
		insert into userInfo(name,password,permission,sex,is_adult,`like`)values(#{name},#{password},#{permission},#{sex},#{adult},#{like})
	</insert>
	<select id="showRank" parameterType="Object" resultType="Map">
		select id,cn,hot from list_rank order by hot DESC limit 10
	</select>
	<select id="showGame" parameterType="Object" resultType="Map">
		select * from list_rank where id=#{id}
	</select>
	<select id="search1" parameterType="Object" resultType="Map">
		select * from list_rank
		<where>
			`cn` like '%${str}%'
		</where>
	</select>
	<select id="showComment" parameterType="Object" resultType="Map">
		select user,value from comment
		<where>
			`id` = #{id}
		</where>
	</select>
	<insert id="comment" parameterType="Object">
		insert into comment(id,user,value,cpu,memory,HD,gd,sys)values(#{id},#{user},#{value},#{cpu},#{memory},#{HD},#{gd},#{sys})
	</insert>
</mapper>